@media(min-width: 1920px){
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl, .container-whole{
	max-width: 1800px;
	}
}
body{
	color: #f2e9e4;
	font-size: 32px;
	font-family: 'Miltonian', cursive;
	font-family: 'Open Sans', sans-serif;
	margin: 0;

	user-select: none;
}
a{
	color: inherit;
}
a:hover{
	color: #c9ada7;
}

.background{
	width: 100%;
	height: 1080px;
	background-color: #22223b;
}

.profile{
	height: 1080px;
	/*background-color: #22223b;*/
	background-color: #4a4e69;
}
.profile-logo .logo{
	display: inline-block;
	height: 200px;
	width: 200px;
	margin-left: 1.5rem;
}
.profile-name{
	padding-left: 4rem;
	font-weight: 700;
	font-size: 7rem;
}
.profile-name-b{
	font-size: 10rem;
	line-height: 20%;
}
.profile-name-e{

}
.profile-link{
	font-size: 64px;
	margin-top: 4rem;
	padding-left: 5rem;
}