@media(min-width: 1920px){
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl, .container-whole{
	max-width: 1800px;
	}
}
body{
	color: #f2e9e4;
	font-size: 24px;
	font-family: 'Miltonian', cursive;
	font-family: 'Open Sans', sans-serif;
	margin: 0;

	user-select: none;
}
a{
	color: inherit;
	text-decoration: none;
}

.profile-bg{
	width: 100%;
	height: 720px;
	background-color: #33334c
}
.profile{
	height: 720px;
	width: 100%;
	/*background-color: #22223b;*/
	background-color: #33334c
}
.profile-logo{
	padding-top: 1.2rem;
	padding-left: 1rem;
}
.profile-logo .logo{
	display: inline-block;
	height: 100px;
	width: 100px;
}
.profile-name{
	padding-top: 3rem;
	font-weight: 700;
	line-height: 120%;
	text-align: left;
}
.profile-name-t{
	padding-left: 0.3rem;
	font-size: 7rem;
	padding-top: 4rem;
}
.profile-name-b{
	color: #c9ada7;
	font-size: 8rem;
	padding-top: 7rem;
}
.profile-link{
	padding-top: 5.5rem;
	padding-left: 0.7rem;
	font-size: 3rem;
}
.profile-link a:hover{
	transition: 300ms;
	font-size: 150%;
	color: #c9ada7;
	text-shadow: 0 0 10rem 10rem #000;
}
.profile-link a:not(:hover){
	transition: 300ms;
	font-size: 100%;
	color: inherit;
}

.nav{
	height: 6rem;
	font-size: 2rem;
}
.nav-text{
	display: block;
}
.nav-text:hover{
	transition: 300ms;
	color: #c9ada7;
}
.nav-text:not(:hover){
	transition: 300ms;
	color: inherit;
}
.nav-effect{
	text-align: center;
	line-height: 0;
}
.nav-effect{
	visibility: hidden;
}

.services-bg{
	width: 100%;
	height: 980px;
	background-color: #22223b
}
.services{

}


.card{
	background-color: #c9ada7;
	color: #22223b;
	box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.3);
	width: 20rem;
}
.card:hover{
	transition: 300ms;
	transform: scale(1.2);
}
.card:not(:hover){
	transition: 300ms;
	transform: scale(1);
}