@media(min-width: 1920px){
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl, .container-whole{
	max-width: 1800px;
	}
}
body{
	color: #f2e9e4;
	font-size: 32px;
	font-family: 'Miltonian', cursive;
	font-family: 'Open Sans', sans-serif;
	margin: 0;

	user-select: none;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover{
	color: #c9ada7;
}

.profile-bg{
	width: 100%;
	height: 1080px;
	background-color: #33334c
}
.profile{
	height: 1080px;
	width: 100%;
	/*background-color: #22223b;*/
	background-color: #33334c
}
.profile-logo .logo{
	display: inline-block;
	height: 200px;
	width: 200px;
	margin-left: 1.5rem;
}
.profile-name{
	padding-left: 4rem;
	font-weight: 700;
	font-size: 7rem;
	line-height: 120%;
	text-align: left;
}
.profile-name-t{
	display: block;
	padding-left: 0.1rem;
}
.profile-name-b{
	color: #c9ada7;
	display: block;
	font-size: 8rem;
}
.profile-name-e{
	line-height: 20%;
}
.profile-link{
	font-size: 64px;
	margin-top: 1rem;
	padding-left: 5rem;
}

.services-bg{
	width: 100%;
	height: 700px;
	background-color: #22223b
}
.services{

}